@model SklepUKW.ViewModels.IndexViewModel
@using SklepUKW.Infrastructure;

@{
    ViewBag.Title = "List";
    //Layout = null;
}

<table style="background-color: goldenrod">
    <tr><td colspan="3"> NOWOŚCI </td></tr>
    <tr>
        @foreach (var film in Model.Top3NewestFilms)
        {
            <td><img src="@Url.PosterPath(film.PosterName)"/></td>
        }
    </tr>
</table>

<h2>@Model.Categories.Name - @Model.Categories.Desc</h2>

<table border=1px>
    @foreach (var film in @Model.FilmsFromCategory)
    {
        <tr>
            <td><img src="@Url.PosterPath(film.PosterName)"></td>
            <td>@film.Title</td>
            <td>@film.Price</td>
            <td>Dodaj do koszyka</td>
        </tr>
    }
<table>
